.p-toast.p-toast-bottom-left {
    @include respond(mobile) {
        display: flex;
        justify-content: center;
        width: 100%;
        bottom: 0;
        left: 0;
        margin-left: 0;
    }
}
.p-toast.p-toast-bottom-left > div:first-child {
    width: 90%;
}
.p-toast .p-toast-message-error .p-toast-message-content .p-toast-message-icon.pi.pi-times:before {
    content: "\e989"
}